<!DOCTYPE html>
<html lang="en" th:replace="~{/layout::view(~{::title},~{::section})}">
<head>
    <title>Quản lý sản phẩm</title>
</head>
<body>
<section>
    <div class="row">
    <aside class="col-3">
        <div class="list-group">
            <a th:href="@{/lol/admin}" class="list-group-item list-group-item-action">Quản lý sản phẩm</a>
            <a th:href="@{/admin/account}" class="list-group-item list-group-item-action">Quản lý tài khoản</a>
            <a th:href="@{/admin/order}" class="list-group-item list-group-item-action">Quản lý đơn hàng</a>
        </div>
    </aside>
    <article  class="col-9">
        <form   th:object="${product}" method="post" class="mb-3">
            <input type="hidden" th:field="*{id}"/>

            <div class="row g-2 mb-2">
                <div class="row">
                    <label>Tên sản phẩm</label><br>
                    <input type="text" th:field="*{name}" class="form-control" placeholder="Tên sản phẩm"/>
                </div>
                <div class="row">
                    <label>Rank</label><br>
                    <input type="text" th:field="*{rank}" class="form-control" placeholder="Rank"/>
                </div>
                <div class="row">
                    <label>Giá</label><br>
                    <input type="number" step="1000" th:field="*{price}" class="form-control" placeholder="Giá"/>
                </div>
                <div class="row">
                    <label>Hình ảnh</label> <br>
                    <img th:if="*{image}" th:src="@{|/images/*{image}|}" style="width:250px"/>
                    <input type="text" th:field="*{image}" class="form-control" placeholder="Ảnh (filename)"/>
                    <!-- Hiển thị ảnh nếu có -->
                </div><br><br>
                <div class="mt-3">
                    <!-- Nút thêm -->
                    <button type="submit" class="btn btn-success"
                            formaction="/lol/admin/add">Thêm</button>

                    <!-- Nút cập nhật -->
                    <button type="submit" class="btn btn-warning"
                            formaction="/lol/admin/update"
                            th:if="${product.id != null}">Cập nhật</button>

                    <a th:href="@{/lol/admin/reset}" class="btn btn-secondary">Reset</a>
                </div>
            </div>
        </form>
        <hr>
        <h2 class="mb-3">Danh sách sản phẩm</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Tên</th>
                <th>Rank</th>
                <th>Giá</th>
                <th>Ảnh</th>
                <th>Hành động</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p : ${products}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.name}"></td>
                <td th:text="${p.rank}"></td>
                <td th:text="${p.price}"></td>
                <td><img th:src="@{|/images/${p.image}|}" class="img-fluid rounded shadow" style="width: 80px"></td>
                <td>
                    <a th:href="@{'/lol/admin/edit/' + ${p.id}}" class="btn btn-warning btn-sm">Sửa</a>
                    <a th:href="@{'/lol/admin/delete/' + ${p.id}}" class="btn btn-danger btn-sm">Xóa</a>
                </td>
            </tr>
            </tbody>
        </table>
    </article>
    </div>
</section>
</body>
</html>
