<hr>
<div class="container py-4">
  <div class="row">

    <!-- Cột 1: Giới thiệu -->
    <div class="col-md-3 mb-3">
      <div class="d-flex align-items-center gap-2 mb-2">
        <img src="/images/logo.png" alt="Logo" width="180px" height="60px" class="rounded">
      </div>
      <h5 class="mb-0">VIETNAM ESPORT GAME</h5>
      <p class="small">
        GameStore chuyên cung cấp tài khoản game chất lượng, uy tín, nhanh chóng và bảo mật.
      </p>
      <p class="small">
        Trải nghiệm mua sắm acc dễ dàng chỉ với vài click!
      </p>
    </div>

    <!-- Cột 2: Lối tắt -->
    <div class="col-md-3 mb-3">
      <h6 class="fw-bold">Lối tắt</h6>
      <ul class="list-unstyled">
        <li><a class="footer-link" th:href="@{/home}">Trang chủ</a></li>
        <li><a class="footer-link" th:href="@{/valorant}">Valorant</a></li>
        <li><a class="footer-link" th:href="@{/lol}">LOL</a></li>
        <li><a class="footer-link" th:href="@{/tft}">TFT</a></li>
      </ul>
    </div>

    <!-- Cột 3: Thông tin liên hệ -->
    <div class="col-md-3 mb-3">
      <h6 class="fw-bold">Liên hệ</h6>
      <ul class="list-unstyled small">
        <li>Email: <a class="footer-link" href="mailto:support@gamestore.com">support@gamestore.com</a></li>
        <li>Hotline: <a class="footer-link" href="tel:+84123456789">0123 456 789</a></li>
        <li>Địa chỉ: Quận 1, TP.HCM</li>
      </ul>
    </div>

    <!-- Cột 4: Mạng xã hội -->
    <div class="col-md-3 mb-3">
      <h6 class="fw-bold">Kết nối</h6>
      <div class="d-flex gap-3">
        <a href="https://m.me/gamestore" target="_blank" class="footer-link fs-4">
          <i class="fab fa-facebook-messenger"></i>
        </a>
        <a href="https://facebook.com/gamestore" target="_blank" class="footer-link fs-4">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://zalo.me/0123456789" target="_blank" class="footer-link fs-4">
          <i class="fab fa-google"></i>
        </a>
      </div>
    </div>

  </div>
</div>



<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
