<!DOCTYPE html>
<html lang="en" th:replace="~{/layout::view(~{::title},~{::section})}">
<head>
    <title>Trang chủ</title>
</head>
<body>
<section class="container py-4">

    <!-- Hàng 1: Sản phẩm nổi bật -->
    <h2 class="text-center mb-4 text-warning">Sản phẩm nổi bật</h2>
    <hr>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        <!-- Lặp danh mục game -->
        <div class="col" th:each="cate : ${categories}">
            <div class="card h-100 bg-dark text-light text-center">
                <a th:href="@{/category/{id}(id=${cate.categoryId})}">
                    <img th:src="@{/images/banner-{name}.jpg(name=${cate.categoryName})}"  class="card-img-top"
                         th:alt="${cate.categoryName}" style="height: 150px;">
                </a>
                <div class="card-body">
                    <a style="text-decoration:none; color:inherit;" th:href="@{/category/{id}(id=${cate.categoryId})}">
                        <h5 class="card-title" th:text="'Tài khoản ' + ${cate.categoryName}"></h5>
                    </a>
                    <p class="card-text" th:text="${cate.description}"></p>
                    <a class="btn btn-primary" th:href="@{/category/{id}(id=${cate.categoryId})}">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Hàng 2: Mini Game Quay Acc -->
    <hr>
    <h2 class="text-center mt-5 mb-4 text-warning">Random Acc may mắn</h2>
    <hr>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        <div class="col" th:each="cate : ${categories}">
            <div class="card h-100 bg-dark text-light text-center">
                <img th:src="@{/images/banner-{name}.jpg(name=${cate.categoryName})}" class="card-img-top" th:alt="${cate.categoryName}" style="height: 150px;">
                <div class="card-body">
                    <h5 class="card-title" th:text="'Quay Acc ' + ${cate.categoryName}"></h5>
                    <p class="card-text" th:text="'Thử vận may với tài khoản ' + ${cate.categoryName} + ' đa dạng!'"></p>
                    <a href="#" class="btn btn-primary">Quay ngay</a>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>
