<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: var(--menu-footer);">
  <div class="container">

    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center gap-2" th:href="@{/home}">
      <img src="/images/logo.png" alt="Logo" width="180px" height="60px" class="rounded">
    </a>

    <!-- Nút thu gọn menu trên mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nội dung menu -->
    <div class="collapse navbar-collapse" id="navbarContent">

      <!-- Menu trái -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/home}">Trang chủ</a>
        </li>

        <!-- Lặp qua danh mục game -->
        <li class="nav-item" th:each="cate : ${categories}">
          <a class="nav-link"
             th:href="@{/{id}(id=${cate.categoryId})}"
             th:text="${cate.categoryName}"></a>
        </li>
      </ul>

      <!-- Menu phải -->
      <ul class="navbar-nav ms-auto">
        <!-- Nếu chưa login -->
        <li class="nav-item" th:if="${session.user == null}">
          <a class="nav-link" th:href="@{/login}">
            <i class="bi bi-box-arrow-in-right"></i> Login
          </a>
        </li>
        <li class="nav-item" th:if="${session.user == null}">
          <a class="nav-link" th:href="@{/register}">
            <i class="bi bi-person-plus"></i> Register
          </a>
        </li>

        <!-- Nếu đã login -->
        <li class="nav-item dropdown" th:if="${session.user != null}">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i>
            <span th:text="${session.user.fullname}"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <span CLASS="dropdown-item" th:text="|${#numbers.formatDecimal(session.user.balance, 0, 'COMMA', 0, 'POINT')}| + ' VND'"></span>
            <li><a class="dropdown-item" th:href="@{/profile}">Thông tin cá nhân</a></li>
            <li><a class="dropdown-item" th:href="@{/cart/view}">Giỏ hàng</a></li>
            <li><a class="dropdown-item" th:href="@{/napthe}">Nạp thẻ</a></li>
            <!-- Nếu role là admin -->
            <li th:if="${session.user.role}">
              <a class="dropdown-item" th:href="@{/admin}">Quản trị</a>
            </li>

            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" th:href="@{/out}">Đăng xuất</a></li>
          </ul>
        </li>
      </ul>


    </div>
  </div>
</nav>
